{% extends 'base.html.twig' %}

{% block title %}Lieu{% endblock %}

{% block body %}
<div class="card elevation-2">
    <div class="card-header">
        <h6 class="card-title">Visualisation de Lieu</h6>
    </div>
    <div class="card-body">
        <dl class="row">
                            <dt class="col-sm-6 text-right">Id :</dt>
                <dd class="col-sm-6 text-secondary">{{ lieu.id }}</dd>
                            <dt class="col-sm-6 text-right">Nom :</dt>
                <dd class="col-sm-6 text-secondary">{{ lieu.nom }}</dd>
                            <dt class="col-sm-6 text-right">Description :</dt>
                <dd class="col-sm-6 text-secondary">{{ lieu.description }}</dd>
                    </dl>
    </div>
    <div class="card-footer text-center d-flex justify-content-center">
        <a class="btn btn-outline-secondary mr-2" href="{{ path('lieu_liste') }}">Retour</a>
        <a class="btn btn-outline-warning mr-2" href="{{ path('lieu_modifier', {'id': lieu.id}) }}">Modifier</a>
        {{ include('lieu/_delete_form.html.twig') }}
    </div>

{% endblock %}
