{% extends 'base.html.twig' %}

{% block title %}Création de TypeAttribut{% endblock %}
{% block body %}
<div class="card elevation-2">
    <div class="card-header">
        <h6 class="card-title">Création de TypeAttribut</h6>
    </div>
    {{ form_start(form) }}
    {{ include('type_attribut/_form.html.twig') }}
    <div class="card-footer text-center">
        <a class="btn btn-outline-secondary" href="{{ path('type_attribut_liste') }}">Retour</a>
        <button class="btn btn-outline-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
