{% extends 'base.html.twig' %}

{% block title %}Sort index{% endblock %}

{% block body %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-md-6 text-left"><h6 class="mt-2 font-weight-bold text-primary">Liste des Sort</h6></div>
            <div class="col-md-6 text-right">
                <a class="btn btn-sm btn-outline-primary" href="{{ path('sort_nouveau') }}">Créer un(e) Sort</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table datatable table-bordered">
            <thead>
                <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Nom</th>
                        <th class="text-center">Description</th>
                        <th class="text-center" data-orderable="false">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for sort in sorts %}
                <tr>
                        <td class="text-center">{{ sort.id }}</td>
                        <td class="text-center">{{ sort.nom }}</td>
                        <td class="text-center">{{ sort.description }}</td>
                        <td class="text-center">
                        <a href="{{ path('sort_visualiser', {'id': sort.id}) }}"><i class="fa fa-search text-primary" data-toggle="tooltip" title="Voir"></i></a>
                        <a href="{{ path('sort_modifier', {'id': sort.id}) }}"><i class="fa fa-edit text-warning ml-2 mr-2" data-toggle="tooltip" title='Modifier'></i></a>
                        {{ include('sort/_delete_form.html.twig', {liste:true}) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="col-sm-12 text-center">
    <a class="btn btn-outline-primary" href="{{ path('sort_nouveau') }}">Créer un(e) Sort</a>
</div>
{{ include('fragments/main-confirm-modal.html.twig', {liste:true}) }}
{% endblock %}

{% block javascripts %}
{{ include('fragments/data-tables.html.twig') }}
{% endblock %}