<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{{ app_title }} - {% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/d20-white.svg') }}">
        <link rel="stylesheet" href="{{ asset('asset/css/general.css') }}">
        <link rel="stylesheet" href="{{ asset('library/Fontawesome/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('library/Bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('library/AdminLTE/adminlte.min.css') }}">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body class="layout-fixed sidebar-mini">
    <div class="wrapper">
        {% block full_body %}
        {% block navbar %}
            {{ include('fragments/main-header.html.twig') }}
        {% endblock %}
        {% block sidebar %}
            {{ include('fragments/main-sidebar.html.twig') }}
        {% endblock %}
    <main class="content-wrapper">
        <div class="container-fluid">
            <div class="d-flex mb-4"></div>
            <div>
                {% block body %}
                {% endblock %}
            </div>
            <div class="d-flex mt-4"></div>
        </div>
    </main>{{ include('fragments/main-footer.html.twig') }}
    </div>
    {% endblock %}
    <script type="text/javascript" src="{{ asset('library/jQuery/jquery-3.7.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('library/Fontawesome/js/all.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('library/Bootstrap/bootstrap.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('library/AdminLTE/adminlte.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('asset/js/general.js') }}" defer="defer"></script>
    {% block javascripts %}
    {% endblock %}
    </body>
</html>
