{% extends 'base.html.twig' %}

{% block title %}Race index{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('library/DataTable/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/css/cardtable.css') }}">
{% endblock %}

{% block body %}
    <div class="d-flex">
        <div class="d-flex flex-wrap cardtable mb-4 w-100">
            <table class="table datatable table-bordered">
                <thead>
                <tr>
                    <th class="text-center" data-orderable="true">Nom</th>
                    <th class="text-center" data-orderable="false">Description</th>
                    <th class="text-center" data-orderable="false">Couleur</th>
                    <th class="text-center" data-orderable="false">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for race in races %}
                    <tr>
                        <td class="text-center">{{ race.nom }}</td>
                        <td class="text-center">{{ race.description }}</td>
                        <td class="text-center">{{ race.couleur }}</td>
                        <td class="text-center">
                            <a class="btn btn-outline-primary mr-2" data-toggle="tooltip" title="Voir" href="{{ path('race_visualiser', {'id': race.id}) }}"><i class="fa fa-search"></i></a>
                            <a class="btn btn-outline-warning mr-2" data-toggle="tooltip" title='Modifier' href="{{ path('race_modifier', {'id': race.id}) }}"><i class="fa fa-edit"></i></a>
                            {{ include('race/_delete_form.html.twig', {liste:true}) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 card-model">
        <div class="card card-widget widget-user">
            <div class="widget-user-header card-color" style="background-color:#A4A4A4">
                <h3 class="widget-user-username card-name">Nom</h3>
                <h5 class="widget-user-desc limit-char card-desc">Description</h5>
            </div>
            <div class="card-footer card-action d-flex justify-content-center">
            </div>
        </div>
    </div>
<div class="col-sm-12 text-center">
    <a class="btn btn-outline-primary" href="{{ path('race_nouveau') }}">Créer un(e) Race</a>
</div>
{{ include('fragments/main-confirm-modal.html.twig', {liste:true}) }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('library/DataTable/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('asset/js/cardtable.js') }}" defer="defer"></script>
{% endblock %}