{% extends 'base.html.twig' %}

{% block title %}Création de Race{% endblock %}
{% block body %}
<div class="card elevation-2">
    <div class="card-header">
        <h6 class="card-title">Création de Race</h6>
    </div>
    {{ form_start(form) }}
    {{ include('race/_form.html.twig') }}
    <div class="card-footer text-center">
        <a class="btn btn-outline-secondary" href="{{ path('race_liste') }}">Retour</a>
        <button class="btn btn-outline-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
{% block javascripts %}
    {{ include('fragments/color-picker.html.twig') }}
{% endblock %}
